{% extends "../base.html.twig" %}
{% block body %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Link</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for award in awards %}
        <tr class="award">
          <td>
            <a href="" target="_blank" rel="noreferrer noopener">
              @{{ award.awardeeUsername }}
            </a>
          </td>
          <td>
            <a href="https://discuit.net/{{ award.community }}/post/{{ award.postId }}/{{ award.awardeeCommentId }}" target="_blank" rel="noopener noreferrer">
              https://discuit.net/{{ award.community }}/post/{{ award.postId }}/{{ award.awardeeCommentId }}
            </a>
          </td>
          <td>
            {{ award.createdAt|date("Y-m-d H:i:s") }}
          </td>
          <td>
            <button
              data-id="{{ award.id }}"
              class="btn-delete btn btn-danger btn-sm d-flex align-items-center justify-content-center"
              style="width: 50px;"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block foot %}
  <script>
    function deleteLink(id) {
      fetch('/theshadows/awards/' + id, {
        method: 'DELETE',
      })
        .then(() => {
          document.querySelector('.award[data-id="' + id + '"]').remove();
        });
    }

    document.querySelectorAll('.btn-delete').forEach(btn => {
      btn.addEventListener('click', e => {
        if (!confirm('Are you sure you want to delete this award?')) {
          return;
        }
        const id = e.target.dataset.id;
        deleteLink(id);
      });
    });
  </script>
{% endblock %}
